<ion-view>
  <ion-content scroll="false">
      <img class="bj_photo" src="img/bj.png" alt=""/>
      <img id="font_photo" src="img/font.png" alt=""/>
      <img id="yishujia" ng-click="goYishujia()" src="img/mainmanu/yishujia.png" alt=""/>
      <img id="liucheng" ng-click="goLiucheng()" src="img/mainmanu/liucheng.png" alt=""/>
      <img id="zuopin" ng-click="goZuopin()" src="img/mainmanu/zuopin.png" alt=""/>
      <img id="tiyan" ng-click="goTiyan()" src="img/mainmanu/tiyan.png" alt=""/>
      <img id="gongyi" ng-click="goGongyi()" src="img/mainmanu/gongyi.png" alt=""/>
      <img id="banquan" ng-click="goBanquan()" src="img/mainmanu/banquan.png" alt=""/>
  </ion-content>
</ion-view>
