<ion-view>
    <ion-content scroll="false">
        <img class="bj_photo" src="img/bj.png" alt=""/>
        <img ng-click="Goback()" class="Goback" src="img/Goback.png" alt=""/>
        <div class="container">
            <img class="container_photo_logo" src="img/gongyi/four.png" alt=""/>
            <p>脱胎是利用漆的粘性以及麻布的张力，使其层层粘合重叠而成的胎骨，为布胎。脱胎古称夹纻。汉后佛教渐兴，夹纻胎制器由简单的匣、盒、杯等之类发展至用夹纻制造佛像。</p>
            <img class="container_photo" src="img/gongyi/four/1.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/2.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/3.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/4.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/5.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/6.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/7.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/8.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/9.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/10.jpg" alt=""/>
            <p>夹纻胎制之所以能发展，首先是因为他的重量比较轻，较之于金属胎、木胎、陶瓷，都要轻上许多。并且与木胎相比夹纻胎不容易变形，尤其是在干燥或者是潮湿的地方，更是明显。</p>
            <img class="container_photo" src="img/gongyi/four/11jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/12.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/13.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/14.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/15.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/16.jpg" alt=""/>
            <p>钟声漆艺工作室将传播中国的漆文化作为发展目标，以培养新时代的漆艺人为目标，引入时代思潮，在传承传统技艺的同时，不断创新。</p>
            <img class="container_photo" src="img/gongyi/four/17.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/18.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/19.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/20.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/21jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/22.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/23.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/24.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/25.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/26.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/27.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/28.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/29.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/30.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/31.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/32.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/33.jpg" alt=""/>
            <p>以下为北京工业大学艺术设计学院部分毕业生的脱胎作品。</p>
            <img class="container_photo" src="img/gongyi/four/34.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/35.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/36.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/37.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/38.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/39.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/four/40.jpg" alt=""/>
        </div>
    </ion-content>
</ion-view>