<ion-view>
    <ion-content scroll="false">
        <img class="bj_photo" src="img/bj.png" alt=""/>
        <img ng-click="Goback()" class="Goback" src="img/Goback.png" alt=""/>
        <div class="container">
            <img class="container_photo_logo" src="img/gongyi/five.png" alt=""/>
            <p>《髹饰录》中所说：“五彩金钿，其文陷于地，故属阴，乃列在于此。”在书中的填嵌门类中，包含的范围相当广泛，不仅仅有在漆面上雕刻花纹，然后用漆或金、或银、或螺钿等物填嵌进去的，还包括在用稠漆在漆面做出高低不平的样子，然后用漆填入磨平的。</p>
            <img class="container_photo" src="img/gongyi/five/1.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/five/2.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/five/3.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/five/4.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/five/5.jpg" alt=""/>
            <p>大多数为填漆、嵌银、嵌金、嵌螺钿等等，甚至出现了华丽的百宝嵌。</p>
            <img class="container_photo" src="img/gongyi/five/6.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/five/7.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/five/8.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/five/9.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/five/10.jpg" alt=""/>
            <p>现在的镶嵌技法大多数为金属镶嵌、螺钿镶嵌、蛋壳镶嵌等。借助漆的黏性，将各种材料贴在漆面上，再经过刷漆、打磨、推光，使两种材质形成相得益彰的美。</p>
            <p>钟声老师的螺钿镶嵌作品，</p>
            <img class="container_photo" src="img/gongyi/five/11.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/five/12.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/five/13.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/five/14.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/five/15.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/five/16.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/five/17.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/five/18.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/five/19.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/five/20.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/five/21jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/five/22.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/five/23.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/five/24.jpg" alt=""/>
            <p>其他作品：</p>
            <img class="container_photo" src="img/gongyi/five/25.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/five/26.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/five/27.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/five/28.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/five/29.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/five/30.jpg" alt=""/>
        </div>
    </ion-content>
</ion-view>