<ion-view>
    <ion-content scroll="false">
        <img class="bj_photo" src="img/bj_1.png" alt=""/>
        <img ng-click="Goback()" class="Goback" src="img/Goback.png" alt=""/>
        <div class="container">
            <img class="container_photo_logo" src="img/gongyi/three.png" alt=""/>
            <p>漆器，不仅仅在中国得到了发展，同样在日本有着不可替代的作用，不管是日用生活中，还是艺术创作中，对于漆器的认可和从业人员的尊重也使日本漆器在世界享有极高的声誉。</p>
            <p>而莳绘技法是以日本传统漆器工艺为基础所延伸出来的一种装饰技法。是在中国描金漆工艺基础上，日本漆艺工匠发展出具有本国特色的莳绘 。</p>
            <img class="container_photo" src="img/gongyi/three/1.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/2.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/3.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/4.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/5.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/6.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/7.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/8.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/9.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/10.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/11.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/12.jpg" alt=""/>
            <p>而北京工业大学艺术设计学院在2015年荣幸的请到日本漆艺大师小椋范彦先生，来我院授课。在授课的十天左右的时间里，小椋范彦先生向学生讲授了4种莳绘技法。研出莳绘、木地莳绘、银地高莳绘、錆上莳绘、吸上莳绘。</p>
            <img class="container_photo" src="img/gongyi/three/13.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/14.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/15.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/16.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/17.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/18.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/19.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/20.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/21.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/22.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/23.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/24.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/25.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/26.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/27.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/28.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/29.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/30.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/31.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/32.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/33.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/34.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/35.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/36.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/37.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/38.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/39.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/three/40.jpg" alt=""/>
            <p>以上图片均来自网络或学生作品。</p>
        </div>
    </ion-content>
</ion-view>