<ion-view>
    <ion-content scroll="false">
        <img class="bj_photo" src="img/bj.png" alt=""/>
        <img ng-click="Goback()" class="Goback" src="img/Goback.png" alt=""/>
        <div class="container">
            <img class="container_photo_logo" src="img/gongyi/one.png" alt=""/>
            <img class="container_photo" src="img/gongyi/one/1.jpg" alt=""/>
            <p>雕漆是把天然漆在胎上刷出一定厚度，再用刀在堆起的平面漆胎上雕刻花纹的技法。由于色彩的不同，亦有“剔红”“剔黑”、“剔彩”及“剔犀”名目。</p>
            <img class="container_photo" src="img/gongyi/one/2.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/3.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/4.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/5.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/6.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/7.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/8.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/9.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/10.jpg" alt=""/>
            <p>雕漆工艺是中国漆工艺的一个重要门类，也是北京传统工艺美术的精华之一。   雕漆工艺是中国漆工艺的一个重要门类，据明代黄成的《髹饰录》记载，这种古老的工艺发源于唐代的四川、云南一带，但是我们今天还没有见到过唐代的雕漆作品。宋代是雕漆工艺的发展时期。“剔红”和“剔犀”都已经出现。</p>
            <img class="container_photo" src="img/gongyi/one/11.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/12.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/13.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/14.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/15.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/16.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/17.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/18.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/19.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/20.jpg" alt=""/>
            <p>雕漆的品种有上千种，主要有瓶、罐、盒、盘、烟具、茶具、酒具、家具、灯具、文具、挂屏、围屏、插屏、壁画、炉、鼎、熏、壶，以及立体鸟、兽、佛、仕女，还有小件首饰、珠子等等。雕漆产品的生产周期较长，多数产品从设计到出厂要半年时间，高档产品则需要两三年的时间。</p>
            <p>现代的中国雕漆指的是20世纪50年代至今的这一时间段，主要是以北京雕漆为代表，其中也包括了扬州、天水、新绛、平遥的雕漆。北京雕漆在最近60年中得到空前的发展，不仅全面继承了古雕漆的优秀精华，而且在创新发展上也作出了自己的贡献，成为北京最为著名的传统工艺美术品，并被推崇为象征中国民族艺术的国宝。</p>
            <img class="container_photo" src="img/gongyi/one/21.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/22.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/23.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/24.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/25.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/26.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/27.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/28.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/29.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/30.jpg" alt=""/>
            <p>在本科的课程里，大三的学生需要学习雕漆的过程。了解雕漆工艺的制作方法，而后进行实践。这些图片均为学生雕漆课程的过程图。</p>
            <img class="container_photo" src="img/gongyi/one/31.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/32.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/33.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/34.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/35.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/36.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/37.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/38.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/39.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/one/40.jpg" alt=""/>
            <p>以上部分图片来源于网络。</p>
        </div>
    </ion-content>
</ion-view>