<ion-view>
    <ion-content scroll="false">
        <img class="bj_photo" src="img/bj.png" alt=""/>
        <img ng-click="Goback()" class="Goback" src="img/Goback.png" alt=""/>
        <img id="font_photo" src="img/font.png" alt=""/>
        <img id="gongyi_1" ng-click="goOne()" src="img/gongyi/one.png" alt=""/>
        <img id="gongyi_2" ng-click="goTwo()" src="img/gongyi/two.png" alt=""/>
        <img id="gongyi_3" ng-click="goThree()" src="img/gongyi/three.png" alt=""/>
        <img id="gongyi_4" ng-click="goFour()" src="img/gongyi/four.png" alt=""/>
        <img id="gongyi_5" ng-click="goFive()" src="img/gongyi/five.png" alt=""/>
    </ion-content>
</ion-view>