<ion-view>
    <ion-content scroll="false">
        <img class="bj_photo" src="img/bj_1.png" alt=""/>
        <img ng-click="Goback()" class="Goback" src="img/Goback.png" alt=""/>
        <div class="container">
            <img class="container_photo_logo" src="img/gongyi/two.png" alt=""/>
            <p>金缮修复工艺，与字面上理解相同，即用金修缮的意思，起源于中国髹饰工艺的泥金工艺，主要材料为生漆和金箔。</p>
            <p>和中国传统瓷器修复技术—锔瓷类似，金缮是源自日本的传统瓷器修复技术，本质上是漆艺的范畴。金缮修复有很广的适用范围，用作于瓷器和紫砂器居多，除此以外也可以用作于竹器，象牙，小件木器，玉器等。</p>
            <p>钟声漆艺工作室主要研究方向为漆立体 、漆画 、漆文物修复、漆文化、传统漆工艺与现代艺术设计以及创意文化产业的关系与发展。对建盏等瓷器进行金缮修复。钟声老师作品：</p>
            <img class="container_photo" src="img/gongyi/two/1.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/2.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/3.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/4.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/5.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/6.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/7.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/8.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/9.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/10.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/11.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/12.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/13.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/14.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/15.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/16.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/17.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/18.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/19.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/20.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/21.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/22.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/23.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/24.jpg" alt=""/>
            <p>对需要进行金缮的器物进行修复，修复后，在表面贴上金箔。金箔需要反复贴许多层后，对多余的金箔进行清理。</p>
            <img class="container_photo" src="img/gongyi/two/25.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/26.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/27.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/28.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/29.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/30.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/31.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/32.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/33.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/34.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/35.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/36.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/37.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/38.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/39.jpg" alt=""/>
            <img class="container_photo" src="img/gongyi/two/40.jpg" alt=""/>
        </div>
    </ion-content>
</ion-view>