<ion-view>
    <ion-content scroll="false">
        <img class="bj_photo" src="img/bj_1.png" alt=""/>
        <img ng-click="Goback()" class="Goback" src="img/Goback.png" alt=""/>
        <div class="container">
            <img class="container_photo_logo" src="img/liucheng/two.png" alt=""/>
            <p>钟声老师漆艺工作室近些年来一直致力于大漆陶瓷文物修复技术的研究：其以大漆脱胎造型技术为基础，根据陶瓷文物特征，使用大漆替代现有修复材料。使用大漆进行文物修复，不仅能够还原文物原貌，更能用艺术再创作赋予文物新的文化价值，让更多人接触大漆与古瓷，有利于传承大漆工艺文化的传统，弘扬漆艺文化与陶瓷文化。</p>
            <p>依据脱胎石膏的形状，对残缺部分进行裱布、刮灰、打磨等工序。经过反复的刮灰、打磨，将器物的造型修补完整，使其展现出破碎前的形状。</p>
            <img class="container_photo" src="img/liucheng/two/1.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/two/2.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/two/3.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/two/4.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/two/5.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/two/6.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/two/7.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/two/8.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/two/9.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/two/10.jpg" alt=""/>
            <p>当器物的形态大体完整时，对修补部分进行反复的刷漆、打磨的工序。对漆面细节进行修补，使造型圆润，漆面光滑。</p>
            <img class="container_photo" src="img/liucheng/two/11.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/two/12.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/two/13.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/two/14.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/two/15.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/two/16.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/two/17.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/two/18.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/two/19.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/two/20.jpg" alt=""/>
            <p>当漆面没有瑕疵，光滑圆润时，初步的修复工序就完成了。</p>
        </div>
    </ion-content>
</ion-view>