<ion-view>
    <ion-content scroll="false">
        <img class="bj_photo" src="img/bj.png" alt=""/>
        <img ng-click="Goback()" class="Goback" src="img/Goback.png" alt=""/>
        <div class="container">
            <img class="container_photo_logo" src="img/liucheng/one.png" alt=""/>
            <p>钟声老师漆艺工作室近些年来一直致力于大漆陶瓷文物修复技术的研究：其以大漆脱胎造型技术为基础，根据陶瓷文物特征，使用大漆替代现有修复材料。使用大漆进行文物修复，不仅能够还原文物原貌，更能用艺术再创作赋予文物新的文化价值，让更多人接触大漆与古瓷，有利于传承大漆工艺文化的传统，弘扬漆艺文化与陶瓷文化。</p>
            <p>在修复的前期，首先，需要对瓷片进行清理。其次在瓷片上涂保护剂，防止在之后的工序中工具对瓷片的伤害。</p>
            <img class="container_photo" src="img/liucheng/one/1.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/one/2.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/one/3.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/one/4.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/one/5.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/one/6.jpg" alt=""/>
            <p>对瓷片进行拼合的尝试。</p>
            <img class="container_photo" src="img/liucheng/one/7.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/one/8.jpg" alt=""/>
            <p>打桩。</p>
            <img class="container_photo" src="img/liucheng/one/9.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/one/10.jpg" alt=""/>
            <p>在脱胎的基础上，对缺失部分进行推演。通过石膏翻模，确定出缺失部分的形状。为了更加准确的确定出器物的形状，需要对石膏进行修整，使表面光滑。</p>
            <img class="container_photo" src="img/liucheng/one/11.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/one/12.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/one/13.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/one/14.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/one/15.jpg" alt=""/>
        </div>
    </ion-content>
</ion-view>