<ion-view>
    <ion-content scroll="false">
        <img class="bj_photo" src="img/bj_1.png" alt=""/>
        <img ng-click="Goback()" class="Goback" src="img/Goback.png" alt=""/>
        <div class="container">
            <img class="container_photo_logo" src="img/liucheng/three.png" alt=""/>
            <p>钟声老师漆艺工作室近些年来一直致力于大漆陶瓷文物修复技术的研究：其以大漆脱胎造型技术为基础，根据陶瓷文物特征，使用大漆替代现有修复材料。使用大漆进行文物修复，不仅能够还原文物原貌，更能用艺术再创作赋予文物新的文化价值，让更多人接触大漆与古瓷，有利于传承大漆工艺文化的传统，弘扬漆艺文化与陶瓷文化。</p>
            <p>当我们完成基本的修复后，就需要对漆的部分进行装饰了。但是，这一步并不是简单的髹涂大漆就可以的，是要经过思考以及处理的。当拿到瓷片时，就开始思考它适合的工艺，最终的呈现效果。是对东方造物文明的领悟与融合。</p>
            <img class="container_photo" src="img/liucheng/three/1.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/three/2.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/three/3.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/three/4.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/three/5.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/three/6.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/three/7.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/three/8.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/three/9.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/three/10.jpg" alt=""/>
            <p>我们可以对表面进行素髹、金缮、擦漆等等工艺，制作过程图片：</p>
            <img class="container_photo" src="img/liucheng/three/11.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/three/12.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/three/13.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/three/14.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/three/15.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/three/16.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/three/17.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/three/18.jpg" alt=""/>
            <img class="container_photo" src="img/liucheng/three/19.jpg" alt=""/>
            <p>髹漆的技艺于钟声老师来说，是对话古今的手段。钟声老师以陶瓷修复作为切入点，对古陶瓷用生漆进行修复保护。将传统文化引入当代艺术文化中，完成传统与现代的对接，让漆和瓷这两种同样厚重的工艺文化，融会贯通，重新构成完满的美学观。</p>
            <img class="container_photo" src="img/liucheng/three/20.jpg" alt=""/>
        </div>
    </ion-content>
</ion-view>