<ion-view>
    <ion-content scroll="false">
        <img class="bj_photo" src="img/bj.png" alt=""/>
        <img ng-click="Goback()" class="Goback" src="img/Goback.png" alt=""/>
        <img id="font_photo" src="img/font.png" alt=""/>
        <img ng-click="Goqian()" id="liucheng_1" src="img/liucheng/one.png" alt=""/>
        <img ng-click="Goxiu()" id="liucheng_2" src="img/liucheng/two.png" alt=""/>
        <img ng-click="Gohou()" id="liucheng_3" src="img/liucheng/three.png" alt=""/>
    </ion-content>
</ion-view>