<ion-view>
    <ion-content scroll="false">
        <img class="bj_photo" src="img/bj_1.png" alt=""/>
        <img ng-click="Goback()" class="Goback" src="img/Goback.png" alt=""/>
        <img class="touying" src="img/tiyan/touying.png" alt=""/>
        <!--第一步-->
        <img id="main_1" src="img/tiyan/two/main_1.png" alt=""/>
        <img id="span_2_1" src="img/tiyan/two/span_1.png" alt=""/>
        <img id="span_2_2" src="img/tiyan/two/span_2.png" alt=""/>
        <img id="font_1" src="img/tiyan/two/font_1.png" alt=""/>
        <img id="success_1" class="success" src="img/tiyan/success.png" alt=""/>
        <!--成功遮罩-->
        <div class="su" id="su_1"></div>
        <!--第二步-->
        <img id="main_2_2" src="img/tiyan/two/main_2.png" alt=""/>
        <img id="span_2_3" src="img/tiyan/two/span_3.png" alt=""/>
        <img id="span_2_3_2" src="img/tiyan/two/span_3.png" alt=""/>
        <img id="mian_2_2" src="img/tiyan/two/main_2.png" alt=""/>
        <img id="main_2_3" src="img/tiyan/two/main_3.png" alt=""/>
        <img id="font_2" src="img/tiyan/two/font_2.png" alt=""/>
        <div class="su" id="su_2"></div>
        <!--第三步-->
        <img id="span_2_4" src="img/tiyan/two/span_4.png" alt=""/>
        <img id="span_2_5" src="img/tiyan/two/span_5.png" alt=""/>
        <img id="font_3" src="img/tiyan/two/font_3.png" alt=""/>
        <div class="su" id="su_3"></div>
        <!--第四步-->
        <img id="font_4" src="img/tiyan/two/font_4.png" alt=""/>
        <div class="su" id="su_4"></div>
        <!--第五步-->
        <img id="main_2_4" src="img/tiyan/two/main_4.png" alt=""/>
        <img id="font_5" src="img/tiyan/two/font_5.png" alt=""/>
        <img id="save" src="img/tiyan/save.png" alt=""/>
        <div id="toSave1" style="display: none"></div>
        <!--进度条-->
        <div class="circle_border" id="circle_border_1"><div class="circle" id="circle_1"></div></div>
        <div class="circle_border" id="circle_border_2"><div class="circle" id="circle_2"></div></div>
        <div class="circle_border" id="circle_border_3"><div class="circle" id="circle_3"></div></div>
        <div class="circle_border" id="circle_border_4"><div class="circle" id="circle_4"></div></div>
        <div class="circle_border" id="circle_border_5"><div class="circle" id="circle_5"></div></div>
        <!--进度条完-->
        <audio id="gameAudio1">
            <source src="audio/shalun.mp3">
        </audio>
        <audio id="gameAudio2">
            <source src="audio/jinshu.mp3">
        </audio>
        <audio id="gameAudio3">
            <source src="audio/shazhi.mp3">
        </audio>
        <audio id="gameAudio4">
            <source src="audio/success.mp3">
        </audio>
    </ion-content>
</ion-view>