<ion-view>
    <ion-content scroll="false">
        <img class="bj_photo" src="img/bj.png" alt=""/>
        <img ng-click="Goback()" class="Goback" src="img/Goback.png" alt=""/>
        <img id="font_photo" src="img/font.png" alt=""/>
        <img ng-click="Gotiyan_1()" id="tiyan_1" src="img/tiyan/one.png" alt=""/>
        <img ng-click="Gotiyan_2()" id="tiyan_2" src="img/tiyan/two.png" alt=""/>
        <img ng-click="Gotiyan_3()" id="tiyan_3" src="img/tiyan/three_1.png" alt=""/>
    </ion-content>
</ion-view>