<ion-view>
    <ion-content scroll="false">
        <img class="bj_photo" src="img/bj_1.png" alt=""/>
        <img ng-click="Goback()" class="Goback" src="img/Goback.png" alt=""/>
        <img class="touying" src="img/tiyan/touying.png" alt=""/>
        <!--第一步-->
        <img id="main_1" src="img/tiyan/three/main_1.png" alt=""/>
        <img id="span_3_1" src="img/tiyan/three/span_1.png" alt=""/>
        <img id="span_3_2" src="img/tiyan/three/span_2.png" alt=""/>
        <img id="font_1" src="img/tiyan/three/font_1.png" alt=""/>
        <img id="success_1" class="success" src="img/tiyan/success.png" alt=""/>
        <!--成功遮罩-->
        <div class="su" id="su_1"></div>
        <!--第二步-->
        <img id="main_3_2" src="img/tiyan/three/main_2.png" alt=""/>
        <img id="span_3_3" src="img/tiyan/three/span_3.png" alt=""/>
        <img id="mian_3_2" src="img/tiyan/three/main_2.png" alt=""/>
        <img id="font_2" src="img/tiyan/three/font_2.png" alt=""/>
        <div class="su" id="su_2"></div>
        <!--第三步-->
        <img id="span_3_4" src="img/tiyan/three/span_4.png" alt=""/>
        <img id="span_3_5" src="img/tiyan/three/span_5.png" alt=""/>
        <img id="font_3" src="img/tiyan/three/font_3.png" alt=""/>
        <div class="su" id="su_3"></div>
        <!--第四步-->
        <img id="font_4" src="img/tiyan/three/font_4.png" alt=""/>
        <img id="span_3_6" src="img/tiyan/three/span_6.png" alt=""/>
        <div class="su" id="su_4"></div>
        <!--第五步-->
        <img id="font_5" src="img/tiyan/ /font_5.png" alt=""/>
        <img id="save" src="img/tiyan/save.png" alt=""/>
        <!--进度条-->
        <div class="circle_border" id="circle_border_1"><div class="circle" id="circle_1"></div></div>
        <div class="circle_border" id="circle_border_2"><div class="circle" id="circle_2"></div></div>
        <div class="circle_border" id="circle_border_3"><div class="circle" id="circle_3"></div></div>
        <div class="circle_border" id="circle_border_4"><div class="circle" id="circle_4"></div></div>
        <div class="circle_border" id="circle_border_5"><div class="circle" id="circle_5"></div></div>
        <!--进度条完-->
    </ion-content>
</ion-view>