<ion-view>
    <ion-content scroll="false">
        <img class="bj_photo" src="img/bj.png" alt=""/>
        <img ng-click="Goback()" class="Goback" src="img/Goback.png" alt=""/>
        <img id="video_1_logo" src="img/yishujia/video_1.png" alt=""/>
        <img id="fontvideo" src="img/yishujia/font_video1.png" alt=""/>
        <iframe  id="video1" class="video"  frameborder="0" src="http://v.qq.com/iframe/player.html?vid=r018630antd&tiny=0&auto=0" allowfullscreen></iframe>
    </ion-content>
</ion-view>