<ion-view>
    <ion-content scroll="false">
        <img class="bj_photo" src="img/bj.png" alt=""/>
        <img ng-click="Goback()" class="Goback" src="img/Goback.png" alt=""/>
        <img id="video_1_logo" src="img/yishujia/video_2.png" alt=""/>
        <!--<video width="320" height="240" controls="controls">-->
        <!--<source src="http://player.youku.com/player.php/sid/XMTQ3NjcxNTAzMg==/v.swf" type="video/ogg">-->
        <!--<source src="http://player.youku.com/player.php/sid/XMTQ3NjcxNTAzMg==/v.swf" type="video/swf">-->
        <!--Your browser does not support the video tag.-->
        <!--</video>-->
        <embed src="http://player.youku.com/player.php/sid/XMTQ3NjcxNTAzMg==/v.swf" allowFullScreen="true" quality="high" width="480" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
        <img id="fontvideo" src="img/yishujia/font_video2.png" alt=""/>
    </ion-content>
</ion-view>