<ion-view>
    <ion-content scroll="false">
        <img class="bj_photo" src="img/bj_1.png" alt=""/>
        <img ng-click="Goback()" class="Goback" src="img/Goback.png" alt=""/>
        <img class="zp_photo" id="zp_photo_2" src="img/zuopin/hezi/1.jpg" alt=""/>
        <div id="cover_bj"><img class="bj_photo" src="img/bj_1.png" alt=""/></div>
        <img class="close" src="img/zuopin/close.png" alt=""/>
        <img class="display_photo" src="img/zuopin/hezi/1.jpg" alt=""/>
        <div class="photo_container" id="ul_2">
            <ul>
                <li><img class="select_photo" src="img/zuopin/hezi/1.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/hezi/2.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/hezi/3.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/hezi/4.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/hezi/5.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/hezi/6.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/hezi/7.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/hezi/8.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/hezi/9.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/hezi/10.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/hezi/11.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/hezi/12.jpg" alt=""/></li>
            </ul>
        </div>
    </ion-content>
</ion-view>