<ion-view>
    <ion-content scroll="false">
        <img class="bj_photo" src="img/bj_1.png" alt=""/>
        <img ng-click="Goback()" class="Goback" src="img/Goback.png" alt=""/>
        <img class="zp_photo" id="zp_photo_6" src="img/zuopin/tuotai/1.jpg" alt=""/>

        <div class="photo_container" id="ul_6">
            <ul>
                <li><img class="select_photo" src="img/zuopin/tuotai/1.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/tuotai/2.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/tuotai/3.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/tuotai/4.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/tuotai/5.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/tuotai/6.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/tuotai/7.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/tuotai/8.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/tuotai/9.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/tuotai/10.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/tuotai/11.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/tuotai/12.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/tuotai/13.jpg" alt=""/></li>
            </ul>
        </div>
    </ion-content>
</ion-view>