<ion-view>
    <ion-content scroll="false">
        <img class="bj_photo" src="img/bj_1.png" alt=""/>
        <img ng-click="Goback()" class="Goback" src="img/Goback.png" alt=""/>
        <img class="zp_photo" id="zp_photo_3" src="img/zuopin/jiaju/1.jpg" alt=""/>
        <div id="cover_bj"><img class="bj_photo" src="img/bj_1.png" alt=""/></div>
        <img class="close" src="img/zuopin/close.png" alt=""/>
        <img class="display_photo" src="img/zuopin/jiaju/1.jpg" alt=""/>
        <div class="photo_container" id="ul_3">
            <ul>
                <li><img class="select_photo" src="img/zuopin/jiaju/1.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jiaju/2.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jiaju/3.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jiaju/4.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jiaju/5.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jiaju/6.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jiaju/7.jpg" alt=""/></li>
            </ul>
        </div>
    </ion-content>
</ion-view>