<ion-view>
    <ion-content scroll="false">
        <img class="bj_photo" src="img/bj_1.png" alt=""/>
        <img ng-click="Goback()" class="Goback" src="img/Goback.png" alt=""/>
        <img class="zp_photo" id="zp_photo_1" src="img/zuopin/daqinhuluzaowu/1.jpg" alt=""/>
        <div id="cover_bj"><img class="bj_photo" src="img/bj_1.png" alt=""/></div>
        <img class="close" src="img/zuopin/close.png" alt=""/>
        <img class="display_photo" src="img/zuopin/daqinhuluzaowu/1.jpg" alt=""/>
        <div class="photo_container" id="ul_1">
            <ul>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/1.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/2.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/3.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/4.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/5.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/6.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/7.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/8.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/9.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/10.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/11.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/12.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/13.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/14.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/15.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/16.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/17.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/18.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/19.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/20.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/21.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/22.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/23.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/24.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/25.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/26.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/27.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/28.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/29.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/30.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/31.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/32.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/33.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/34.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/35.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/36.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/37.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/38.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/39.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/daqinhuluzaowu/40.jpg" alt=""/></li>
            </ul>
        </div>
    </ion-content>
</ion-view>