<ion-view>
    <ion-content scroll="false">
        <img class="bj_photo" src="img/bj_1.png" alt=""/>
        <img ng-click="Goback()" class="Goback" src="img/Goback.png" alt=""/>
        <img class="zp_photo" id="zp_photo_7" src="img/zuopin/zaizaowu/1.jpg" alt=""/>

        <div class="photo_container" id="ul_7">
            <ul>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/1.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/2.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/3.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/4.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/5.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/6.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/7.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/8.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/9.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/10.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/11.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/12.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/13.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/14.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/15.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/16.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/17.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/18.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/19.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/20.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/21.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/22.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/23.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/24.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/25.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/26.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/27.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/28.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/29.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/30.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/31.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/32.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/33.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/34.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/35.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/36.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/37.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/38.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/39.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/zaizaowu/40.jpg" alt=""/></li>
            </ul>
        </div>
    </ion-content>
</ion-view>