<ion-view>
    <ion-content scroll="false">
        <img class="bj_photo" src="img/bj_1.png" alt=""/>
        <img ng-click="Goback()" class="Goback" src="img/Goback.png" alt=""/>
        <img class="zp_photo" id="zp_photo_4" src="img/zuopin/jinshan/1.jpg" alt=""/>
        <div id="cover_bj"><img class="bj_photo" src="img/bj_1.png" alt=""/></div>
        <img class="close" src="img/zuopin/close.png" alt=""/>
        <img class="display_photo" src="img/zuopin/jinshan/1.jpg" alt=""/>
        <div class="photo_container" id="ul_4">
            <ul>
                <li><img class="select_photo" src="img/zuopin/jinshan/1.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jinshan/2.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jinshan/3.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jinshan/4.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jinshan/5.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jinshan/6.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jinshan/7.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jinshan/8.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jinshan/9.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jinshan/10.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jinshan/11.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jinshan/12.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jinshan/13.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jinshan/14.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jinshan/15.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jinshan/16.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jinshan/17.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jinshan/18.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jinshan/19.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jinshan/20.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jinshan/21.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jinshan/22.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jinshan/23.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jinshan/24.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jinshan/25.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jinshan/26.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jinshan/27.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jinshan/28.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jinshan/29.jpg" alt=""/></li>
                <li><img class="select_photo" src="img/zuopin/jinshan/30.jpg" alt=""/></li>
            </ul>
        </div>
    </ion-content>
</ion-view>