/*css样式文件*/
/*通配*/
.bj_photo{width: 100%;height: 100%;}
.Goback{width: 8.7%;height: auto;position: absolute;top: 1.6%;left: 5%;}
/*欢迎页*/
#hello{width: 100%;height: 103.83%;top: -3.78%;position:absolute;}
#begin{width: 31.39%;z-index: 2;position:absolute;bottom: 2.7%;left:34.30%;text-align: center;}

/*一级页面，主菜单*/
#font_photo{width: 37.22%;height: auto;position: absolute;top: 3.34%;right: 7.03%;}
#yishujia{width: 33.33%;height: auto;position: absolute;top: 16.21%;left: 13.89%;}
#liucheng{width: 33.33%;height: auto;position: absolute;top: 16.21%;right: 13.89%;}
#zuopin{width: 33.33%;height: auto;position: absolute;top: 38.92%;left: 13.89%;}
#tiyan{width: 33.33%;height: auto;position: absolute;top: 38.92%;right: 13.89%;}
#gongyi{width: 33.33%;height: auto;position: absolute;top: 63.24%;left: 13.89%;}
#banquan{width: 33.33%;height: auto;position: absolute;top: 63.24%;right: 13.89%;}
/*二级页面*/
/*艺术家视频列表页面*/
#yishu_video_1{width: 84.72%;height: auto;position: absolute;top: 30.54%;left: 7.64%;}
#yishu_video_2{width: 84.72%;height: auto;position: absolute;top: 45.97%;left: 7.64%;}
/*艺术家视频播放界面*/
#video_1_logo{width: 84.72%;height: auto;position: absolute;top: 11.67%;left: 7.64%;}
#fontvideo{width:72.40%;height: auto;position:absolute;top:59.56%;left: 13.8%;}
.video{width: 84.07%;height: 34.81%;position: absolute;top: 22.70%;left: 7.965%;}
/*流程列表页面*/
#liucheng_1{width: 84.72%;height: auto;position: absolute;left: 7.64%;top: 28.38%;}
#liucheng_2{width: 84.72%;height: auto;position: absolute;left: 7.64%;top: 41.08%;}
#liucheng_3{width: 84.72%;height: auto;position: absolute;left: 7.64%;top: 53.67%;}
/*流程图文页面*/
.container{width: 100%;height: 91.89%;position: absolute;overflow: auto;right: 0;bottom: 0;}
.container p{text-indent: 2em;margin-left: 5.26%;margin-right: 5.26%;font-size: 1.2em;line-height: 1.3em}
.container_photo_logo{width: 85.18%;height: auto;margin-left: 7.41%;}
.container_photo{width: 78.7%;height: auto;margin: 1.6% 10.65%;}
/*工艺页面列表*/
#gongyi_1{width: 84.72%;height: auto;position: absolute;left: 7.64%;top: 22.38%;}
#gongyi_2{width: 84.72%;height: auto;position: absolute;left: 7.64%;top: 34.38%;}
#gongyi_3{width: 84.72%;height: auto;position: absolute;left: 7.64%;top: 46.38%;}
#gongyi_4{width: 84.72%;height: auto;position: absolute;left: 7.64%;top: 58.38%;}
#gongyi_5{width: 84.72%;height: auto;position: absolute;left: 7.64%;top: 70.38%;}
/*作品页面列表*/
#zuopin_1{width: 84.72%;height: auto;position: absolute;left: 7.64%;top: 16.38%;}
#zuopin_2{width: 84.72%;height: auto;position: absolute;left: 7.64%;top: 26.38%;}
#zuopin_3{width: 84.72%;height: auto;position: absolute;left: 7.64%;top: 36.38%;}
#zuopin_4{width: 84.72%;height: auto;position: absolute;left: 7.64%;top: 46.38%;}
#zuopin_5{width: 84.72%;height: auto;position: absolute;left: 7.64%;top: 56.38%;}
#zuopin_6{width: 84.72%;height: auto;position: absolute;left: 7.64%;top: 66.38%;}
#zuopin_7{width: 84.72%;height: auto;position: absolute;left: 7.64%;top: 76.38%;}
/*作品展示页面*/
.zp_photo{width: 94.07%;height:40.64%;position: absolute;top: 12.58%;left: 2.965%;border: 0.4em solid #ffffff;box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);}
.photo_container{width:100%;height: 30.32%;overflow-x:auto;overflow-y: hidden;position: absolute;top:62.70%;left:0;}
#ul_1 ul{list-style:none;height: 80%;width: 2000%;white-space: nowrap;overflow-x:auto;overflow-y: hidden;}
#ul_1 ul li{float:left;width: 2.27%;height: 90%;margin: 0.1%}
#ul_2 ul{list-style:none;height: 80%;width: 600%;white-space: nowrap;overflow-x:auto;overflow-y: hidden;}
#ul_2 ul li{float:left;width: 7.57%;height: 90%;margin: 0.2%}
#ul_3 ul{list-style:none;height: 80%;width: 360%;white-space: nowrap;overflow-x:auto;overflow-y: hidden;}
#ul_3 ul li{float:left;width: 12.57%;height: 90%;margin: 0.4%}
#ul_4 ul{list-style:none;height: 80%;width: 1400%;white-space: nowrap;overflow-x:auto;overflow-y: hidden;}
#ul_4 ul li{float:left;width: 2.97%;height: 85%;margin: 0.15%}
#ul_5 ul{list-style:none;height: 80%;width: 800%;white-space: nowrap;overflow-x:auto;overflow-y: hidden;}
#ul_5 ul li{float:left;width: 5.57%;height: 90%;margin: 0.2%}
#ul_6 ul{list-style:none;height: 80%;width: 600%;white-space: nowrap;overflow-x:auto;overflow-y: hidden;}
#ul_6 ul li{float:left;width: 7.07%;height: 90%;margin: 0.2%}
#ul_7 ul{list-style:none;height: 80%;width: 2000%;white-space: nowrap;overflow-x:auto;overflow-y: hidden;}
#ul_7 ul li{float:left;width: 2.27%;height: 90%;margin: 0.1%}
.photo_container ul li img{width: 100%;height: 100%;border:0.4em solid #ffffff;margin:2%;}
#cover_bj{display: none;width: 100%;height:100%;z-index: 2;position: absolute;top: 0;left: 0;}
.close{width: 8.11%;height: auto;position: absolute;top:2.27%;left: 4.07%;z-index: 2;display: none;}
.display_photo{width: 98%;height: 43.24%;position: absolute;top: 26.16%;left: 1%;z-index: 2;display: none;}
/*体验列表页面*/
#tiyan_1{width: 84.72%;height: auto;position: absolute;left: 7.64%;top: 28.38%;}
#tiyan_2{width: 84.72%;height: auto;position: absolute;left: 7.64%;top: 41.08%;}
#tiyan_3{width: 84.72%;height: auto;position: absolute;left: 7.64%;top: 53.67%;}
/*小游戏1*/
.success{width: 68.51%;height:17.29%;position: absolute;top: 24.43%;left: 15.745%;}
.circle_border{width:18px;height:18px;position: absolute;top: 58.10%;border: 0.2em solid #CACACA;border-radius: 9px;padding: 2px;}
.touying{width: 100%;height: auto;position: absolute;top: 59.50%;left: 0;}
#circle_border_1{left: 7%;}
#circle_border_2{left: 13%;}
#circle_border_3{left: 19%;}
#circle_border_4{left: 25%;}
#circle_border_5{left: 31%;}
.circle{border: 0.4em solid #CACACA;border-radius: 5px;}
.su{width: 100%;height: 100%;position: absolute;top: 0;left: 0;background-color: #ffff00;z-index: 10;opacity:0;display: none;}
#save{width: 8.33%;height: auto;position: absolute;top: 55.13%;right: 5.56%;display: none;}
#main_1{width: 98%;height: 52.97%;position: absolute;top: 9.73%;left: 1%;}
#span_1{width: 31%;height: auto;position: absolute;left: 5.98%;top: 24.47%;}
#span_2{width: 31%;height: auto;position: absolute;left: 5.98%;top: 24.47%;display: none;}
#font_1{width: 97%;height: auto;position: absolute;bottom: 1.5%;left: 1%;}
#success_1{display: none;z-index: 9;}
#main_2{width: 98%;height: 52.97%;position: absolute;top: 9.73%;left: 1%;display: none;}
#span_3{width: 31%;height: auto;position: absolute;left: 5.98%;top: 24.47%;display: none;}
#span_4{width: 98%;height: 52.97%;position: absolute;top: 9.73%;left: 1%;display: none;}
#font_2{width: 97%;height: auto;position: absolute;bottom: 1.5%;left: 1%;display: none;}
#span_5{width: 31%;height: auto;position: absolute;left: 5.98%;top: 24.47%;display: none;}
#span_6{width: 31%;height: auto;position: absolute;left: 5.98%;top: 24.47%;display: none;z-index: 2;}
#span_7{width: 31%;height: auto;position: absolute;left: 5.98%;top: 24.47%;display: none;}
#font_3{width: 97%;height: auto;position: absolute;bottom: 1.5%;left: 1%;display: none;}
#font_4{width: 97%;height: auto;position: absolute;bottom: 1.5%;left: 1%;display: none;}
#font_5{width: 97%;height: auto;position: absolute;bottom: 1.5%;left: 1%;display: none;}
#main_3{width: 98%;height: 52.97%;position: absolute;top: 12.73%;left: 1%;display: none;}
/*小游戏2*/
#span_2_1{width: 33%;height: auto;position: absolute;left: 43.52%;top: 18.47%;}
#span_2_2{width: 33%;height: auto;position: absolute;left: 43.52%;top: 18.47%;display: none;}
#span_2_3{width: 33%;height: auto;position: absolute;left: 43.52%;top: 18.47%;display: none;z-index: 2;}
#span_2_3_2{width: 33%;height: auto;position: absolute;left: 43.52%;top: 18.47%;display: none;z-index: 2;}
#span_2_4{width: 33%;height: auto;position: absolute;left: 43.52%;top: 15.47%;display: none;z-index: 3;}
#span_2_5{width: 73%;height: auto;position: absolute;left: 4.02%;top: 18.47%;display:none;z-index: 3;}
#main_2_2{width: 98%;height: 52.97%;position: absolute;top: 9.73%;left: 1%;display: none;}
#main_2_3{width: 98%;height: 52.97%;position: absolute;top: 9.73%;left: 1%;display: none;}
#main_2_4{width: 98%;height: 52.97%;position: absolute;top: 9.73%;left: 1%;display: none;}
/*小游戏3*/
#span_3_1{width: 28%;height: auto;position: absolute;left: 66.62%;top: 29.47%;display: none;}
#span_3_2{width: 28%;height: auto;position: absolute;left: 63.62%;top: 18.47%;}
/*版权页面*/
#zhizuoxinxi{width: 84.53%;height: auto;position: absolute;top: 10.05%;left: 7.73%;}
#wenzi_banquan{width: 51.85%;height: auto;position: absolute;top: 37.03%;left: 24.07%;}